<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>房间列表</title>
</head>
<body>
    <div class="container">
    <h1>房间列表</h1>
    <ul class="warehouse-list">
        {% for warehouse in warehouses %}
            <li>
                <a href="{{ url_for('warehouse_detail', warehouse_id=warehouse.id) }}">
                    <h2>房间名称：{{ warehouse.name }}</h2>
                    <p>地点：{{ warehouse.location }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
        <a class="btn-add" href="{{ url_for('create_warehouse') }}">+ 添加新房间</a>

</div>
</body>
</html>

